# Gestion de version
.git/
.gitignore

# Environnement
venv/

# Données brutes (sauf UC1 pour le dashboard)
data/*
!data/UC1_v4_collision.csv

# Notebooks
notebooks/

# Cache Python
__pycache__/
*.pyc

# Fichiers de travail
*.md
*.pdf
*.ipynb
.env*
.DS_Store

# Images d'analyse dans models (pas besoin pour l'API)
models/*.png