services:
  api:
    image: louisgaillard94/uc1-api:v1
    build:
      context: .
      dockerfile: api/Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - .env.api
    depends_on:
      db:
        condition: service_healthy
    networks:
      - uc1-network
    restart: unless-stopped

  frontend:
    image: louisgaillard94/uc1-frontend:v1
    build:
      context: .
      dockerfile: frontend/Dockerfile
    ports:
      - "8501:8501"
    env_file:
      - .env.frontend
    depends_on:
      - api
    networks:
      - uc1-network
    restart: unless-stopped

  db:
    image: postgres:15
    env_file:
      - .env.db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - uc1-network
    restart: unless-stopped

networks:
  uc1-network:

volumes:
  postgres_data:
