# Data manipulation
pandas
numpy

# Visualisation
matplotlib
seaborn
plotly

# Machine Learning
scikit-learn
xgboost
lightgbm
catboost
imbalanced-learn

# API & Frontend
fastapi
uvicorn
streamlit
requests

# Utils
jupyter
joblib
